body {
  box-sizing: border-box;
  position: relative;
  left: 40%;
  margin: 100px;
  background: linear-gradient(#615dad, #ffc8da);
  background-attachment: fixed;
}

h1 {
  font-family: 'Lobster', cursive;
  text-align: center;
  color: #ffffff;
}
p {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  padding: 10px;
}
.box-color {
  background-color: #283e50;
  text-align: center;
}
.rules {
  background-color: #1fcca4;
  text-decoration: none;
}
.rules:hover {
  background-color: #1cbb96;
}
.game {
  background-color: #0197f6;
  text-decoration: none;
}

.game:hover {
  background-color: #0090e9;
}

.game,
.rules {
  width: 270px;
  height: 40px;
  color: #ffffff;
  border: 0;
  text-align: center;
  line-height: 2.5;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
.cloverleaf {
  margin: 0;
  border-radius: 5px 5px 0 0;
}
.box {
  width: 270px;
  display: flex;
  flex-direction: column;
}
/*----------------------------*/
.rules-a {
  background-color: #1fcca4;
  text-decoration: none;
}
.rules-a:hover {
  background-color: #1cbb96;
}
.game-a {
  background-color: #0197f6;
  text-decoration: none;
}
.game-a:hover {
  background-color: #0090e9;
}

.body-rules {
  display: flex;
  justify-content: space-around;
  left: 0;
}

.box-point {
  background-color: #283e50;
  padding: 0;
  width: 800px;
}
.bullets-number {
  font-family: 'Roboto', sans-serif;
  font-size: small;
  color: #ffffff;
  padding: 10px;
  text-align: baseline;
}
.bullets {
  margin: 40px;
}
li {
  padding: 5px;
}

.picture {
  width: 200px;
  height: 200px;
}
.game-a,
.rules-a {
  display: flex;
  width: 100%;
  height: 40px;
  color: #ffffff;
  margin: solid 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
figcaption {
  color: #ffffff;
  text-align: center;
  padding: 5px;
}
figure {
  font-family: 'Roboto', sans-serif;
  font-size: small;
}
.clik {
  text-align: center;
  line-height: 2.5;
}

.circle,
.cross {
  width: 1em;
  height: 1em;
  filter: invert(100%);
}
/*@media (min-width: 600px) {
  .box-point.img {
    width: 40%;
    height: 40%;
  }
}*/
@media (min-with: 700px);
