body {
  background: linear-gradient(#615dad, #ffc8da);
  box-sizing: border-box;
  position: relative;
  left: 50%;
  margin-bottom: 450px;
  margin-top: 50px;
}
h1 {
  font-family: 'Lobster', cursive;
  color: #ffffff;
}
p {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  padding: 10px;
}
.box-color {
  background-color: #283e50;
  text-align: center;
}
.rules {
  background-color: #1fcca4;
}
.rules:hover {
  background-color: #1cbb96;
}
.game {
  background-color: #0197f6;
}

.game:hover {
  background-color: #0090e9;
}
button {
  width: 270px;
  height: 40px;
  color: #ffffff;
  border: 0;
}

img {
  margin: 0;
  border-radius: 5px 5px 0 0;
}

.box {
  width: 270px;
  display: flex;
  flex-direction: column;
}
